<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Silence noisy Ktor internal DEBUG traces while keeping test-level debug available -->
    <logger name="io.ktor.test" level="INFO" />
    <logger name="io.ktor.server.engine" level="INFO" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>